<nav>
    <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="nav-active">Home</a></li>
        <li><a [routerLink]="['/calculadora']" routerLinkActive="nav-active">Calculadora</a></li>
        <li><a [routerLink]="['/readMeGenerator']" routerLinkActive="nav-active">Generator</a></li>
        <li><a [routerLink]="['/experiments']" routerLinkActive="nav-active">Experiments</a></li>
        <li><a [routerLink]="['/evAndRef']" routerLinkActive="nav-active">evAndRef</a></li>
    </ul>
</nav>
