<nav id="header">
    <div class="navbar">
         <a [routerLink]="['/home']" routerLinkActive="navbar-active"><i class="fa fa-home" style="font-size:24px"></i> Home</a>
         <a [routerLink]="['/calculadora']" routerLinkActive="navbar-active"><i class="fa fa-calculator" style="font-size:24px"></i> Calculator</a>
         <a [routerLink]="['/experiments']" routerLinkActive="navbar-active"><i class="fa fa-flask" style="font-size:24px"></i> Experiments</a>
         <a [routerLink]="['/fichaAnimal']" routerLinkActive="navbar-active"><i class="fa fa-paw" style="font-size:24px"></i> Animals</a>
         <div class="dropdown">
            <button class="dropbtn">Others 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a [routerLink]="['/readMeGenerator']" routerLinkActive="navbar-active"><i class="	fab fa-readme" style="font-size:24px"></i> Generator</a>
                <a [routerLink]="['/evAndRef']" routerLinkActive="navbar-active"> evAndRef</a>
            </div>
          </div> 
   </div>
 </nav>